//--------navbar--------



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 60px 60px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
//-----navbar dropdown效果


.navbar-wrap {
  width: 100%; /*铺满屏幕*/
  background: #FFFFFF; /*背景颜色*/
  font-size: 12px; /*字体12px*/
  height: 30px; /*设置高度*/
  line-height: 30px; /*设置行高，实现垂直居中，口诀「如果高度等于行高，那就实现了文本的垂直居中」*/
  color: #FFFFFF; /*字体颜色*/
}

.navbar-wrap a {
  color: #FFFFFF; /*文字的颜色*/
  text-decoration: none; /*不要下划线啦，好丑*/
}
.navbar-wrap a:hover {
  color: #0097C1; /*鼠标一上去的时候，字体变成黑色*/
}

.nav-item {
  display: block;
  float: left;
  padding: 0;
  position: relative;
  margin: 0 0 0 30px;
  font-size: 16px;
}

.dropmenu  ul {
  background: #FFFFFF;
}

*{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
