/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "login-modal";
@import "navbar";
@import "landingpage";
@import "responsive";

/*===== 分页按钮设定 ======*/
.page-box {
  margin-top: 75px;
  text-align: center;

a {
  background-color: #eee;
}

a:hover {
  background-color: #ddd;
  color: #666 !important;
}
}

/*===== Cart 網站-購物車設定 =====*/
.cart-item-box {

  margin: 5px 0 5px 0;
  color: #000000 !important;

  img {
    max-width: 75px;
    padding: 0px;
  }

  div {
    margin-left: 10px;
    display: inline-block;
    }

  hr {
    height: 1px;
    background-color: #eee !important;
    margin: 7.5px 0 -2.5px 0;
  }

  .name {
    min-width: 30%;
    color: #000000;
  }

  .price {
    min-width: 50px;
  }

  .quantity {
    max-width: 10px;
  }
}

/*===== Product 產品 =====*/
.product-box {
  text-align: left;
  padding: 0 0 100px 0;

  .background-image {
    width: 100%;
    margin-bottom: 20px;
  }

  a {
    color: #666 !important;
  }

  .btn {
    background-color: #fff;
    margin: 0 10px 0 10px;
  }

  .btn:hover,
  .btn:focus {
    color: #eb5424;
  }

  a:hover {
    color: #eb5424 !important;

    img {
      opacity: 0.75;
    }
  }
}
